/*-- 테이블 --*/

.board>h2 {
    text-align: center;
    font-weight: bolder;
    border-bottom: solid 0.15em rgba(20, 50, 120, 0.6);
    padding-bottom: 1em;
}

.selectList {
    font-size: 0.9em;
    width: 7em;
    height: 2em;
    float: right;
    margin-bottom: 0.2em;
}

.writing-selectList {
  margin-top: 7.5em;
}

table {
  text-align: center;
  border: solid 0.01em rgba(204, 197, 197, 0.788);
}

.board textarea {
  height: 20em;
  width: 100%;
}

.board input {
  width: 100%;
  border: none;
}

#table-bno {
  width: 5em;
  height: 1.5em;
}

#table-writer {
  width: 8em;
}

#table-title {
  width: 25em;
}

#table-date {
  width: 10em;
}

#table-count {
  width: 7em;
}

#selectedFile {
  text-align: left;
}

/* 검색 */
#board-section {
  padding-bottom: 1em;
}

.selectList2, .selectList3 {
  font-size: 0.8em;
  height: 2em;
  width: 7em;
  float: left;
}
.container-1{
    vertical-align: middle;
    white-space: nowrap;
    float: left;
  }

  .container-1 input#search{
    height: 2em;
    width: 50em;
    background: #ffffff;
    border: none;
    margin-left: 2em;
    padding-left: 1em;
    font-size: 10pt;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid #aeb6bdbd;
    float: left;
  }

  @media screen and (max-width: 1280px) {
    .container-1 input#search{
      height: 2em;
      width: 30em;
      background: #ffffff;
      border: none;
      margin-left: 2em;
      padding-left: 1em;
      font-size: 10pt;
      color: black;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: solid #aeb6bdbd;
      float: left;
    }
  }
  
  @media screen and (max-width: 980px) {
    .container-1 input#search{
      height: 2em;
      width: 20em;
      background: #ffffff;
      border: none;
      margin-left: 2em;
      padding-left: 1em;
      font-size: 10pt;
      color: black;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: solid #aeb6bdbd;
      float: left;
    }
  }
 .container-1 button.icon{
    height: 2.3em;
    width: 4em;
    font-size: 10pt;
    border-radius: 0.5em;
  }
  
  /* 버튼 */
  .uploadBtn {
    float: right;
    bottom: 3em;
    left: 50em;
  }
  
  .uploadBtn button {
    height: 2.2em;
    font-size: 0.8em;
    padding: 0 1em;
    border-radius: 5px;
  } 
  
  .boardBtn button{
    font-size: 0.9em;
    width: 6em;
    height: 1.7em;
    border-radius: 0.5em;
    text-align: center;
    float: right;
  }

  @media screen and (max-width: 1280px) {
    .boardBtn button{
      font-size: 0.9em;
      width: 6em;
      height: 1.7em;
      border-radius: 0.5em;
      text-align: center;
      float: right;
    }
  }
  
  @media screen and (max-width: 980px) {
    .boardBtn button{
      font-size: 0.9em;
      width: 6em;
      height: 1.7em;
      border-radius: 0.5em;
      text-align: center;
    }
  }
 

  #pageBtn {
    text-align: center;
    margin-top: 4em;
  }
  #pageBtn a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    font-weight: bolder;
    background-color: rgba(26, 40, 167, 0.651);
    color: white;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #f1f1f1;
    color: black;
  }
  
  .round {
    border-radius: 50%;
  }
  .content{
    margin: 0.5em auto;
  }
  
  .commentBtn {
    float: right;
  }

  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

  #backBtn {
    width: 5em;
    margin: auto;
  }

  #backBtn button{
    width: 6em;
    height: 3em;
    border-radius: 0.5em;
  }

  .writing-boardBtn {
    float: right;
  }

  .writing-boardBtn button {
    border-radius: 0.5em;
    width: 5em;
  }

  
  /* 댓글 */
.comment-text {
  height: 5em;
  width: 100%;
}

.comment-date{
  font-size: 0.5em;
  color: #7f888f;

}

.comment-content{
  font-size: 1.5em;
  width: 90%;
}


