/* 전체적용 */
select:hover,
textarea:hover,
input:hover {
  border: 1px solid rgb(20, 50, 120);
}

/*-- 테이블 --*/
.board {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.board > h2 {
  text-align: center;
  font-weight: bolder;
  border-bottom: solid 0.15em rgb(20, 50, 120);
  padding: 1em 0 0.5em;
}

.selectList {
  font-size: 0.9em;
  width: max-content;
  height: 2.5em;
  float: right;
  margin-bottom: 0.5em;
}

.selectMenu {
  font-size: 0.9em;
  width: max-content;
  height: 2.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
}

.writing-selectList {
  margin-top: 7.5em;
  float: right;
}

.table {
  text-align: center;
}

.board textarea {
  height: 20em;
  width: 100%;
}

.board input {
  width: 100%;
  border: white;
}

#table-bno {
  width: 5em;
  height: 1.5em;
}

#table-writer {
  width: 6em;
}

#table-title {
  width: 25em;
}

#table-date {
  width: 10em;
}

#table-count {
  width: 7em;
}

#textwrite{
  width: 100%;
  padding: 1em;
  overflow-y: auto;
  resize: none;
  min-height: 20em;
}

#selectFile {
  text-align: left;
  padding: 0.5em;
}

a {
  color: black;
}

/* a:hover {
  text-decoration: underline;
  background-color: none;
  color: white;
} */

.table  a:hover {
  text-decoration: underline;
  background-color: none;
  color: rgb(20, 50, 120);
}

/* 버튼 */
.selectBtn {
  float: right;
}

.selectBtn button {
  font-size: 0.9em;
  border: 0.5px solid black;
  background: none;
}

.selectBtn button:hover{
  color:white;
  background-color: rgba(20, 50, 120, 0.8);
}

.boardBtn {
  font-size: 0.9em;
  width: 6em;
  height: 2.5em;
  border-radius: 0.25em;
  border: 0.5px solid rgb(20, 50, 120);
  margin: 0.25em;
  padding: 0.25em;
  text-align: center;
  float: right;
}

.boardBtn:hover {
  background: rgb(20, 50, 120, 0.8);
  color: white;
}

.board-search .board-searchIcon {
  height: 3em;
  width: 4em;
  font-size: 10pt;
}

#board-pageBtn {
  text-align: center;
  margin: 4em auto;
  border-radius: 0.5em;
}

#board-pageBtn a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

#board-pageBtn a:hover {
  color:white;
  background-color: rgba(20, 50, 120);
}

.round {
  background-color: #f1f1f1;
  color: black;
  border-radius: 50%;
  width: 2.5em;
}

.board-content .btn-right {
  float: right;
}

.clearfix {
  content: '';
  display: block;
  clear: both;
}

.board-returnBtn {
  width: 5em;
  margin: auto;
}

.board-returnBtn button {
  width: 6em;
  height: 3em;
  margin-bottom: 5em;
  border-radius: 0.5em;
}

.board-comment .btn-right, .board-content .btn-right {
  color: black;
  border: 0.5px solid rgb(20, 50, 120);
  background-color: white;
  float: right;
  margin-right: 1em;
  margin-bottom: 0.2em;
}

.board-comment .btn-right:hover, .board-content .btn-right:hover {
  color:white;
  background-color: rgba(20, 50, 120, 0.8);
}

#registBtn {
  margin-top: 2em;
}

/* 댓글 */
.comment-section {
  width: 90%;
  border: 0.5px solid rgb(20, 50, 120);
  margin-top: 4em;
  margin-bottom: 3em;
}

.comment-title {
  font-size: 1.5em;
  margin: 1em 0;
}

.comment-fix-item {
  margin: 2em;
}

.comment-fix-item img, .comment-board img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  float: left;
  margin: 1em;
}

.comment-fix-item .comment-writer {
  width: 20%;
  height: 2em;
  float: left;
  margin-bottom: 0.2em;
}
.comment-fix-item textarea, .comment-board p {
  width: 80%;
  height: 5em;
  float: left;
  overflow: auto;
}

.comment-board {
  margin: 2em;
  height: 30em;
  overflow-y: auto;
}

.comment-date, .comment-writer {
  font-size: 0.9em;
  color: #7f888f;
}

/* search */
#formSearch{
  width: 40em;
  height: auto;
  margin: auto;
  padding: 0.25em;
}

.select1, .select2 {
  font-size: 0.8em;
  height: 3em;
  width: 7em;
  float: left;
  margin-right: 1em;
}

.input_search_area{
  -webkit-text-size-adjust: none;
  font-weight: 400;
  color: #333;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  margin: auto;
  margin-left: 1em;
}

.input_component{
  font-weight: 400;
  color: #333;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  position: relative;
  height: 36px;
  box-sizing: border-box;
  border: solid 1px;
  vertical-align: top;
  border-color: #ddd;
  background-color: #fff;
  border-right: 0;
  width: 25em;
}

.search-text {
  margin: 0;
  font-size: 13px;
  width: 100%;
  height: 100%;
  padding: 0 12px;
  border: 0;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

.btn-search {
  margin: 0;
  padding: 0;
  font-size: 13px;
  cursor: pointer;
  color: white;
  display: inline-block;
  width: 56px;
  height: 36px;
  background-color: rgba(20, 50, 120);
  border: 0;
}

#selectAllBtn:hover, #deleteBtn:hover{
color:white;
background-color: rgba(20, 50, 120, 0.8);
}