/* content style */
.content-table{
    width: 100%;
    margin: auto;
    text-align: center;
}

#table-bno, #table-writer, #table-title,
#table-date, #table-count{
  background-color: rgb(196, 193, 193);
  border: 1em;
}

#content-text{
  margin: auto;
  width: 100%;
  height: 20em;
  text-align: left;
}

.content-btn{
  margin: 0.5em auto;
  border-radius: 0.25em;
}

.btnLike{

}

#modifyBtn{
    float: right;
    border-radius: 0.25em;
    margin-right: 0.25em;
}

#deleteBtn{
    float: right;
    border-radius: 0.25em;
    margin-left: 0.25em;
}

#comments{
  margin: 1em auto;
}

.comment-row{
  display: block;
  border-bottom: 1em black;
}

#comment-head{
  margin-bottom: 1em;
}

#new_comment{
  float: left;
  width: 73em;
  margin-bottom: 1.5em;
}

#comment_submit{
  float: right;
  margin: 0.25em auto;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.5em;
}

.comment-date{
  font-size: 0.5em;
  color: #7f888f;
  height: 2em;
}

.comment-writer{
  font-size: 0.5em;
  color: #7f888f;
  height: 2em;
  float: left;
  margin-right: 0.5em;
}

.comment-content{
  float: left;
  width: 46em;
  font-size: 1.5em;
  border-radius: 0.25em;
}

#comment_modify{
  float: right;
  margin-right: 0.25em;
  align-items: center;
  padding: 0.25em; 
  border-radius: 0.25em;
  
}

#comment_delete{
  float: right;
  margin-left: 0.25em;
  padding: 0.25em;
  align-items: center;
  border-radius: 0.25em;
}

#like_btn{
  background-color: white;
  border: 0.05em solid rgb(20, 50, 120);
  border-radius: 0.25em;
  color: rgb(20, 50, 120);
  font-weight: bold;
}





#deleteBtn:hover, #modifyBtn:hover,
#comment_submit:hover, #comment_delete:hover,
#comment_modify:hover {
    background-color: rgb(20, 50, 120);
    color: white;
}

