
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}


/* myList */
#searchBtn{
    text-align: center;
    padding: 0.5em;
  }
  
  #serchText{
    width: 20em;
  }
  
  #dateFilter{
    float: left;
    width: 10em;
    margin: auto;
  }
  
  #searchFilter{
    float: left;
    width: 15em;
    margin: auto;
  }
  
  
  .myList-sub-bar{
    float: right;  
    margin-top: 0.5em;
    width: 25em;
  }
  
  .list-menu{ 
    margin: 0;
    padding: 0;
  }
  

  #total-board, #total-comment{
    width: 50%;
    text-align: center;
    border: 1px solid black;   
  }
  
  #viewList{
    padding: 0.5em;
    float: right;
    width: 10em;
    height: 2.5em;
  }
  
  /* list menu tab*/
  .menu_tab{
    font-size: 13px;
    color: #444444;
    line-height: 3;
    width: 100%;
    height: 3em;
    margin-top: -1px;
    text-align: left;
  }
  
  .active.line.bg{
    font-size: 13px;
    color: #444444;
    line-height: 1.6;
    background-color: #ffffff;
    border-color: #e9e9e9;
    text-align: center;
    height: 3em;
    padding-top: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    font-weight: bold;
    border-right-style: solid;
    border-right-width: 1px;
    letter-spacing: -1px;
  }
  
  .bg_sub{
    font-size: 13px;
    color: #444444;
    line-height: 0.5em;
    border-width: 1px;
    border-style: solid;
    background-color: #f7f7f7;
    border-color: #e9e9e9;
    text-align: center;
  }
  
  .bg_sub>a:hover{
    text-decoration: underline;
    color: black;
  }
  
  .blank.line{
    font-size: 13px;
    color: #444444;
    line-height: 1.6;
    border-color: #e9e9e9;
    text-align: center;
    height: 3em;
    padding-top: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  
  /* list btn tab */
  .list_manage_menu{
      color: #444444;
      text-align: left;
      line-height: 1.6;
      clear: both;
      height: 3m;
      margin-top: 1em;
      margin-bottom: 1em;
  }

  .list_btn_area{
    height: 3em;
    padding: 0.5em;
    margin-bottom: 2em;
  }
  
  #selectAllBtn, #deleteBtn{
    width: 5em;
    float: left;
    border-radius: 0.25em;
    margin-right: 0.5em;
    height: 2.25em;
    padding: 0.25em;
  }

  #selectAllBtn:hover, #deleteBtn:hover{
    color:white;
    background-color: rgba(20, 50, 120, 0.8);
  }
  
  /* myListTable */
  
  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
  }

  .list_chkbox{
    width: 2em;
  }
  
  .list_bno{
    width: 5em;
    padding: 0.5em;
    text-align: center;
  }
  
  .list_witer{
    width: 8em;
    padding: 0.5em;
    text-align: center;
  }
  
  .list_title{
    width: 60em;
    padding: 0.5em;
    text-align: center;
  }
  .list_count{
    width: 7em;
    padding: 0.5em;
    text-align: center;
  }
  
  .list_date{
    width: 10em;
    padding: 0.5em;
    text-align: center;
  }

  .list_title > a{
    color: black;

  }

  .list_title > a:hover{
    text-decoration: underline;
  }
  
  .com_bno{
    width: 8em;
    padding: 0.5em;
    text-align: center;
  }
  
  .com_nick{
    width: 10em;
    padding: 0.5em;
    text-align: center;
  }
  
  .com_content{
    width: 40em;
    padding: 0.5em;
    text-align: center;
  }
  
  .com_title{
    width: 40em;
    padding: 0.5em;
    text-align: center;
  }
  
  .com_date{
    width: 10em;
    padding: 0.5em;
    text-align: center;
  }

  /* search */
form{
    font-weight: 400;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

input{
    margin: 0;
    padding: 0;
    font-size: 13px;   
}

.search-list{
  width: 8em;
  height: 3em;
  margin: auto;
  position: relative;
  right: 25em;
}


.input_search_area{
    font-weight: 400;
    color: #333;
    text-align: center;
    font-size: 13px;
    margin: auto;
    position: relative;
    width: 45em;
    bottom: 3em;
    left: 10em;
}

.input_component{
    font-weight: 400;
    color: #333;
    text-align: center;
    font-size: 13px;
    display: inline-block;
    position: relative;
    height: 3em;
    box-sizing: border-box;
    border: solid 1px;
    vertical-align: top;
    border-color: #ddd;
    background-color: #fff;
    border-right: 0;
    width: 35em;
}

#query{
    margin: 0;
    font-size: 13px;
    width: 100%;
    height: 100%;
    padding: 0 12px;
    border: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}

.btn-search {
    font-size: 13px;
    cursor: pointer;
    color: white;
    display: inline-block;
    width: 4.5em;
    height: 3em;
    background-color: rgba(20, 50, 120);
    border: 0;
    margin-right: 5em;
}

.btn-search:hover{
    color:white;
    background-color: rgba(20, 50, 120, 0.8);
}

/* pageBtn */

#pageBtn {
  text-align: center;
  margin-top: 3em;
}
#pageBtn a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

#pageBtn a:hover{
  color:white;
  background-color: rgba(20, 50, 120, 0.8);
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}