/* list table */
.list_title>a{
    color: black;
}

.list_title>a:hover{
    text-decoration: underline;
    color: rgba(20, 50, 120);
    font-weight: bold;
  }


/* search */
#frmSearch{
    width: 50em;
    height: auto;
    margin: auto;
    padding: 0.25em;
}

.listArea{
    width: 4em;
    float: left;
    margin: auto;
    margin-right: 0.25em;
    height: 2.25em;
  }

  .listSearch{
      width: 6em;
      float: left;
      margin: auto;
      margin-left: 0.25em;
      height: 2.25em;
  }
  
  .input_search_area{
      -webkit-text-size-adjust: none;
      font-weight: 400;
      color: #333;
      text-align: center;
      font-size: 13px;
      display: inline-block;
      margin: auto;
      margin-left: 2.5em;
  }
  
  .input_component{
      font-weight: 400;
      color: #333;
      text-align: center;
      font-size: 13px;
      display: inline-block;
      position: relative;
      height: 36px;
      box-sizing: border-box;
      border: solid 1px;
      vertical-align: top;
      border-color: #ddd;
      background-color: #fff;
      border-right: 0;
      width: 30em;
  }
  
  #query{
      margin: 0;
      font-size: 13px;
      width: 100%;
      height: 100%;
      padding: 0 12px;
      border: 0;
      box-sizing: border-box;
      background-color: #fff;
      color: #333;
  }
  
  .btn-search {
      margin: 0;
      padding: 0;
      font-size: 13px;
      cursor: pointer;
      color: white;
      display: inline-block;
      width: 56px;
      height: 36px;
      background-color: rgba(20, 50, 120);
      border: 0;
  }

  #selectAllBtn:hover, #deleteBtn:hover{
    color:white;
    background-color: rgba(20, 50, 120, 0.8);
  }

  /* listBtn */
#list-writer, #list-modify{
    float: right;
    border-radius: 0.25em;
    margin: 0.25em;
    padding: 0.25em;
}

#list-writer:hover, #list-modify:hover{
    color:white;
    background-color: rgba(20, 50, 120, 0.8);
}

  /* pageBtn */

#pageBtn {
    text-align: center;
    margin-top: 3em;
  }
  #pageBtn a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  #pageBtn a:hover{
    color:white;
    background-color: rgba(20, 50, 120, 0.8);
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #f1f1f1;
    color: black;
  }
  
  .round {
    border-radius: 50%;
  }